*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
    padding:15px;
    background-color: #ddd;
}